body{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: cursive;
	background: #282828;
	background: linear-gradient(45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
	background-size: 400% 400%;
	animation: Gradient 15s ease infinite;
}

@-webkit-keyframes Gradient{
	0%{
		background-position: 0% 50%
	}
	50%{
		background-position: 100% 50%
	}
	100%{
		background-position: 0% 50%
	}
}

.container{
	width: 98%;
	margin: 0 auto;
}

header{
	background: rgba(0,0,0,.5);
	padding: 1%;
}

.logo{
	height: 20%;
	width: 20%;
	padding: 15px 0;
	float: center;
	transition: .3s;
	cursor: pointer;
}

.logo:hover{
	height: 23%;
	width: 23%;
	transition: .3s;
}

.sign{
	font-family: cursive;
	font-weight: bold;
	font-size: 50px;
	color: white;
	text-align: center;
	padding-top: 0;
	margin: 0;
}

.create{
	font-family: cursive;
	font-weight: lighter;
	font-size: 20px;
	color: white;
	text-align: center;
	padding-top: 7px;
	margin-bottom: 0; 
}

.signupbox{
	position: relative;
	left: 50%;
	transform: translateX(-170%);
	width: 450px;
	height: 810px;
	box-sizing: border-box;
	background: rgba(0,0,0,.5);
}

.signupbox input{
	width: 80%;
	margin-bottom: 20px;
}

.signupbox input[type="email"],
.signupbox input[type="text"],
.signupbox input[type="password"]{
	border: none;
	border-bottom: 1px solid black;
	background: transparent;
	outline: none;
	height: 40px;
	color: #fff;
	font-size: 16px; 
}

::placeholder{
	color: rgba(255,255,255,.5);
}

.radio{
	color: rgba(255,255,255,.5);
	display: inline-block;
	position: relative;
	cursor: pointer;
	font-family: Verdana;
	font-size: 15px;
	user-select: none;
	padding-left: 25px;
}

.radio input{
	display: none;
}

.radio .circle{
	display: inline-block;
	width: 20px;
	height: 20px;
	background-color: #eee;
	position: absolute;
	left: 0;
	top: 0;
	border-radius: 50%; 
}

.radio:hover .circle{
	background-color: rgba(255,255,255,.5);
}

.radio input:checked + .circle{
	background-color: #0be881;
}

.radio input:checked + .circle:after{
	content: "";
	height: 10px;
	width: 10px;
	background-color: white;
	position: absolute;
	border-radius: 50%;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.signupbox input[type="submit"]{
	margin: 2%;
	border: none;
	outline: none;
	height: 40px;
	width: 80%;
	text-transform: uppercase;
	color: white;
	font-size: 15px;
	background: #32ff7e;
	cursor: pointer;
	border-radius: 15px;
	transition: .5s;
}

.signupbox input[type="submit"]:hover{
	background: #fc5c65;
	letter-spacing: 1px;
	transition: .5s;
}

.loginbutton{
	outline: none;
	height: 30px;
	width: 100px;
	font-size: 15px;
	font-weight: lighter;
	color: #fff;
	background-color: #fc5c65;
	border: none;
	padding: 0;
	border-radius: 20px;
	cursor: pointer;
	transition: .5s;
}

.loginbutton:hover{
	background: #2bcbba;
	letter-spacing: 1px;
	transition: .5s;